<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <section class="content-header">
    <h1><i class="fa fa-shopping-cart"></i> Purchase Parts </h1>
    <ol class="breadcrumb">
      <li><a href="http://sakosys.com/temp/garage-management-system/dashboard.php"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="http://sakosys.com/temp/garage-management-system/parts_stock/buypartslist.php">Purchase Parts</a></li>
      <li class="active">Add Purchase Parts</li>
    </ol>
  </section>
  <!-- Main content -->
  <form onSubmit="return validateMe();" id="from_add_buy_parts" action="http://sakosys.com/temp/garage-management-system/parts_stock/buyparts.php"
    method="post" enctype="multipart/form-data">
    <section class="content">
      <!-- Full Width boxes (Stat box) -->
      <div class="row">
        <div class="col-md-12">
          <!--I think I only need this -->
          <div class="box box-success">
            <div class="box-header">
              <h3 class="box-title">Purchase Parts Form</h3>
            </div>
            <div class="box-body">
              <div class="form-group col-md-12">
                <label for="parts_names"><span style="color:red;">*</span> Parts Name :</label>
                <input type="text" name="parts_names" value="" id="parts_names" class="form-control" />
              </div>
              <div class="form-group col-md-4">
                <label for="ddl_supplier"><span style="color:red;">*</span> Supplier :</label>
                <select class='form-control' id="ddl_supplier" name="ddl_supplier">
                  <option value="">--Select Suppliers--</option>
                  <option value="8">Coling Harbert</option>
                  <option value="7">John Rambo</option>
                  <option value="11">Long Che</option>            
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="ddl_load_manufracturer"><span style="color:red;">*</span> Manufacturer :</label>
                <select class='form-control' id="ddl_load_manufracturer" name="ddl_load_manufracturer">
                  <option value="">--Select Manufacturer--</option>
                  <option value="13">555</option>
                  <option value="9">Bosch</option>
                  <option value="10">Contitech</option>
                  <option value="5">Febi</option>            
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="txtCondition"><span style="color:red;">*</span> Condition :</label>
                <select class="form-control" name="txtCondition">
                  <option selected value='new'>New</option>
                  <option  value='old'>Old</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="buy_prie"><span style="color:red;">*</span> Buy Price(Per pcs) :</label>
                <div class="input-group"> <span class="input-group-addon">$</span>
                  <input type="text" placeholder="Buying Price" value="" name="buy_prie" id="buy_prie" class="form-control allownumberonly ppcal" required/>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="parts_quantity"><span style="color:red;">*</span> Quantity :</label>
                <input type="text" name="parts_quantity" value="" id="parts_quantity" class="form-control ppcal allownumberonly" />
              </div>
              <div class="form-group col-md-4">
                <label for="parts_sell_price"><span style="color:red;">*</span> Sell Price (Per pcs) :</label>
                <div class="input-group"> <span class="input-group-addon">$</span>
                  <input type="text" placeholder="Selling Price" value="0.00" name="parts_sell_price" id="parts_sell_price" class="form-control allownumberonly"
                    required/>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label for="parts_sku"><span style="color:red;">*</span> Part No :</label>
                <input type="text" name="parts_sku" value="" id="parts_sku" class="form-control" />
              </div>
              <div class="form-group col-md-4">
                <label for="parts_add_date">Purchase Date :</label>
                <input type="text" name="parts_add_date" value="18/05/2018" id="parts_add_date" class="form-control datepicker" />
              </div>
              <div class="form-group col-md-4">
                <label for="parts_warranty">Parts Warranty :</label>
                <input type="text" name="parts_warranty" placeholder="5 Years or 6 Months" value="" id="parts_warranty" class="form-control"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="total_amount"><span style="color:red;">*</span> Total Amount :</label>
                <div class="input-group"> <span class="input-group-addon">$</span>
                  <input type="text" readonly="" style="color:red;font-weight:bold;" placeholder="Total Price" value="0.00" name="total_amount"
                    id="total_amount" class="form-control allownumberonly" required/>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="total_amount"><span style="color:red;">*</span> Given Amount :</label>
                <div class="input-group"> <span class="input-group-addon">$</span>
                  <input type="text" placeholder="Given Amount" value="0.00" name="given_amount" id="given_amount" class="form-control allownumberonly ppcal" required/>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="total_amount"><span style="color:red;">*</span> Pending Amount :</label>
                <div class="input-group"> <span class="input-group-addon">$</span>
                  <input type="text" readonly="" style="color:red;font-weight:bold;" placeholder="Pending Amount" value="0.00" name="pending_amount" id="pending_amount" class="form-control allownumberonly" required/>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label for="Prsnttxtarea">Parts Image (500x500px) :</label>
                <img class="form-control" src="http://sakosys.com/temp/garage-management-system/img/no_image.jpg" style="height:250px;width:250px;" id="output" />
                <input type="hidden" name="img_exist" value="" />
              </div>
              <div class="form-group col-md-12">
                <span class="btn btn-file btn btn-primary">Upload Image
                
                </span> 
              </div>
            </div>
            <input type="hidden" value="" name="old_qty" />
            <input type="hidden" value="0" name="parts_id" />
            <input type="hidden" value="247630" name="invoice_id" />
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </section>
  </form>
  <!-- /.row -->
</div>
<!-- /.content-wrapper -->