  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
     
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
 
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span>Customer</span>
          </a>
        </li>
        <li>
          <a href="/new_repair">
            <i class="fa fa-wrench"></i>
            <span>Repair Car</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-calculator"></i>
            <span>Create Estimate</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-cart-plus"></i>
            <span>Delivery Car</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-truck"></i>
            <span>Parts Stock</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-car"></i>
            <span>Car Stock</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span>Suppliers</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-users"></i>
            <span>Mechannics</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-bell"></i>
            <span>Reminders</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-phone"></i>
            <span>Apointment</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-car"></i>
            <span>Car Request</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-envelope"></i>
            <span>Contact</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-bar-chart"></i>
            <span>Report</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-clipboard"></i>
            <span>Catalog</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fa fa-gears"></i>
            <span>Settings</span>
          </a>
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
