<section class="content">
  <!-- Full Width boxes (Stat box) -->
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success" id="box_model">
        <div class="box-header">
          <h3 class="box-title">Purchase Parts Form</h3>
        </div>
        <div class="box-body">
          <div class="form-group col-md-12" style="padding-top:10px;">
            <div class="pull-left">
              <label class="label label-danger" style="font-size:15px;">INVOICE ID - {{invoice_id}}</label>
              <!-- <label class="label label-danger" style="font-size:15px;">GRAND TOTAL - {{grandTotal}}</label> -->
              <!-- <input type="hidden" [ngModel]="invoice_id" formControlName="invoiceId" class="form-control"/> -->
            </div>
            <div class="pull-right">
                <button type="submit" (click)=Submit(parts)  class="btn btn-success" [disabled]="saved"><i class="fa fa-save"></i><br/></button>
                <a class="btn btn-warning" data-toggle="tooltip" routerLink="/parts/purchase" data-original-title="Back"><i class="fa fa-reply"></i><br/></a> 
              </div>
          </div>
          <div class="clearfix" style="color:red;font-weight:bold;text-align:center;">** After submit information will save automatically and go to INVOICE page directly.</div>
        </div>
      </div>

      <!-- <div id="fab" >
        <button class="btn btn-info" (click)="addItem($event)" [disabled]="editing"><i class="fa fa-plus"></i></button>
      </div> -->


      <div class="row">
        <div class="col-xs-12">
          <div class="box box-success">
          <div class="box-body">
            <table class="table sakotable table-bordered table-striped dt-responsive" id="print-section">
              <thead>
                <tr>
                  <th>Part Number</th>
                  <th>Stamp</th>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Supplier</th>
                  <th>Shelf</th>
                  <!-- <th>Date</th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let part of parts" class="list-part">
                      <td><span *ngIf="part.partNumber != 'null'; else elseBlock1" class="label label-default">{{ part.partNumber }}</span></td>
                      <td><span *ngIf="part.stamp != 'null'; else elseBlock2" class="label label-default">{{ part.stamp }}</span></td>
                      <td><span *ngIf="part.description != 'null'; else elseBlock4" class="label label-default">{{ part.description }}</span></td>
                      <td><span *ngIf="part.quantity != -1; else elseBlock3" class="label label-default">{{ part.quantity }}</span></td>
                      <td><span *ngIf="part.price != -1; else elseBlock6" class="label label-default">{{ part.price }}</span></td>
                      <td><span *ngIf="part.supplier != ''; else elseBlock5" class="label label-default">{{ part.supplier }}</span></td>
                      <td><span *ngIf="part.shelfNumber != 'null'; else elseBlock7" class="label label-default">{{ part.shelfNumber }}</span></td>
                      <!-- <td><span *ngIf="part.purchaseDate != 'null'; else elseBlock8" class="label label-default">{{ part.purchaseDate | date }}</span></td> -->
                      <td>
                        <span *ngIf="part.partNumber != 'null'; else elseBlock1">
                          <a class="btn btn-primary btn-sm" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i></a> <a class="btn btn-danger btn-sm" data-toggle="tooltip" (click)="revert()" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                        </span>
                      </td>
              </tbody>
              <tr>
                <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <!-- <td></td> -->
                  <td>Total : </td>
                  <td>{{ grandTotal | number : '1.2-2'}} ETB</td>
                </tr>
              </table>
            </div>
            <button type="button" (click)="addItem($event)" [disabled]="editing" class="btn btn-primary pull-left">Add item</button>
            <!-- <span *ngIf="!editing && parts.length >= 1" class="pull-right">
              <a class="btn btn-primary pull-right" href="javascript:window.print();" data-toggle="tooltip" data-original-title="Print"><i class="fa fa-print"></i></a>
            </span> -->
            </div>
          </div>
          <div *ngFor="let part of parts" class="list-part">
              <span hidden *ngIf="part.partNumber != 'null'; else elseBlock1" class="partNumber col-md-2">{{ part.partNumber }}</span>
              <span hidden *ngIf="part.stamp != 'null'; else elseBlock2" class="stamp col-md-2">{{ part.stamp }}</span>
              <span hidden *ngIf="part.quantity != -1; else elseBlock3" class="quantity col-md-1">{{ part.quantity }}</span>
              <span hidden *ngIf="part.description != 'null'; else elseBlock4" class="description col-md-2">{{ part.description }}</span>
              <span hidden *ngIf="part.supplier != ''; else elseBlock5" class="supplier col-md-1">{{ part.supplier }}</span>
              <span hidden *ngIf="part.price != -1; else elseBlock6" class="price col-md-1">{{ part.price }}</span>
              <span hidden *ngIf="part.shelfNumber != 'null'; else elseBlock7" class="shelfNumber col-md-1">{{ part.shelfNumber }}</span>
              <span hidden *ngIf="part.purchaseDate != 'null'; else elseBlock8" class="purchaseDate col-md-2">{{ part.purchaseDate }}</span>
            <div class="col-xs-12">
            <form #partsForm="ngForm" (ngSubmit)="onSubmit(partsForm)" novalidate >
                <div class="btn pull-right">
                    <button *ngIf="editing && part.itemPId === count" type="submit" class="btn btn-success"><i class="fa fa-plus"></i><br/></button>
                    <button *ngIf="editing && part.itemPId === count" (click)="revert()" class="btn btn-danger"><i class="fa fa-ban"></i><br/></button>
                </div>
                <ng-template class="form-group col-md-4" #elseBlock1>
                    <label for="part_number"><span style="color:red;">*</span> Part Number :</label>
                    <input type="text" [(ngModel)]="partNumber" value="" name="partNumber" class="form-control" required/>
                  </ng-template>
                  <ng-template class="form-group col-md-4" #elseBlock2>
                    <label for="stamp"><span style="color:red;">*</span> Stamp :</label>
                    <input type="text" [(ngModel)]="stamp" value="" name="stamp" class="form-control" required/>
                  </ng-template>
                  <ng-template class="form-group col-md-4" #elseBlock3>
                      <label for="parts_quantity"><span style="color:red;">*</span> Quantity :</label>
                      <input type="text" [(ngModel)]="quantity" value="" name="quantity" class="form-control ppcal allownumberonly" required/>
                  </ng-template>
                  <ng-template class="form-group col-md-12" #elseBlock4>
                    <label for="description"><span style="color:red;">*</span> Description :</label>
                    <textarea  [(ngModel)]="description" name="description" class="form-control" rows="5" required></textarea>
                  </ng-template>
                  <ng-template class="form-group col-md-3" #elseBlock5>
                      <label for="supplier"><span style="color:red;">*</span> Supplier </label>
                      <select class='form-control' [(ngModel)]="supplier" name="supplier">
                          <option value="">--Select Supplier--</option>
                          <option  *ngFor="let suplier of supliers" value="{{suplier.name}}" required>{{suplier.name}}</option>
                        </select>
                  </ng-template>
                  <ng-template class="form-group col-md-3" #elseBlock6>
                      <label for="price"><span style="color:red;">*</span> Buy Price(Per pcs) :</label>
                      <div class="input-group"> <span class="input-group-addon">$</span>
                        <input type="text" placeholder="Buying Price" value="" [(ngModel)]="price" name="price" class="form-control allownumberonly ppcal" required/>
                      </div>
                  </ng-template>
                  <ng-template class="form-group col-md-3" #elseBlock7> 
                    <label for="shelfNumber"><span style="color:red;">*</span> Shelf Number :</label>
                    <input type="text" [(ngModel)]="shelfNumber" value="" name="shelfNumber" class="form-control" required/>
                  </ng-template>
                  <ng-template class="form-group col-md-3" #elseBlock8>
                    <label for="parts_add_date">Purchase Date :</label>
                    <input type="date" [ngModel]="date" name="purchaseDate" class="form-control" />
                  </ng-template>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
