.pill{
    background-color: #A090F9; 
    font-size: 13px; 
    font-weight: bold;
    margin-right: 3px; 
    margin-left: 3px; 
    padding-right: 3px; 
    padding-left: 3px;
    border-radius: 10px; 
}