<div class="row">
  <!--/.col (left) -->
  <!-- This is what i want. -->
  <div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Client Information</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label for="first_name" class="col-sm-4 control-label">First Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="first_name" placeholder="First Name">
            </div>
          </div>
          <div class="form-group">
            <label for="last_name" class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="last_name" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
              <label for="phone" class="col-sm-4 control-label">Phone</label>
              <div class="col-sm-8">
                <input type="tel" class="form-control" id="phone" placeholder="Phone">
              </div>
          </div>
          <div class="form-group">
              <label for="email" class="col-sm-4 control-label">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
          </div>
          <div class="form-group">
              <label for="email" class="col-sm-4 control-label">Sex</label>
              <div class="col-sm-8">
                <select class="form-control">
                    <option value="male">MALE</option>
                    <option value="female">FEMALE</option>
                </select>
              </div>
          </div>
          <div class="box-header with-border">
              <h3 class="box-title">Vehicle Information</h3>
          </div>
          <div class="form-group">
              <label for="vehicle_model" class="col-sm-4 control-label">Model</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="vehicle_model" placeholder="Model">
              </div>
          </div>
          <div class="form-group">
              <label for="vehicle_color" class="col-sm-4 control-label">Color</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="vehicle_color" placeholder="Color">
              </div>
          </div>
          <div class="form-group">
              <label for="vehicle_used" class="col-sm-4 control-label">NEW or USED</label>
              <div class="col-sm-8">
                <select class="form-control">
                    <option value="used">USED</option>
                    <option value="new">NEW</option>
                </select>
              </div>
          </div>
          <div class="form-group">
              <label for="vehicle_fuel_type" class="col-sm-4 control-label">Fuel Type</label>
              <div class="col-sm-8">
                <select class="form-control" id="vehicle_fuel_type">
                  <option value="gasoline"> Gasoline </option>
                  <option value="diesel"> Diesel fuel </option>
                  <option value="autogas"> Autogas </option>
                  <option value="biodiesel"> Biodiesel  </option>
                  <option value="Ethanolfuel"> Ethanolfuel  </option>
                </select>
              </div>
          </div>
          <div class="form-group">
              <label for="vehicle_engine_size" class="col-sm-4 control-label">Engine Number(liter)</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="vehicle_engine_size" placeholder="Engine Number in liters">
              </div>
          </div>
          <div class="form-group">
              <label for="vehicle_transmission" class="col-sm-4 control-label">Transmission</label>
              <div class="col-sm-8">
                <select class="form-control" id="vehicle_transmission">
                  <option value="manual"> Manual Transmission</option>
                  <option value="automatic"> Automatic Transmission</option>
                  <option value="cvt"> Continuously variable transmission </option>
                  <option value="semi-auto"> Semi automatic Transmission </option>
                  <option value="dual-clutch"> Dual clutch Transmission </option>
                </select>
              </div>
          </div>
          <div class="form-group">
              <label for="vehicle_door_count" class="col-sm-4 control-label">Number of doors</label>
              <div class="col-sm-8">
                  <input type="number" class="form-control" id="vehicle_door_count" placeholder="Number of doors">
              </div>
          </div>
          <div class="form-group">
              <label for="vehicle_recent_milage" class="col-sm-4 control-label">Number of doors</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" id="vehicle_recent_milage" placeholder="Last known milage">
              </div>
          </div>
          <div class="form-group">
              <label for="vehicle_registered_date" class="col-sm-4 control-label">Date of registration</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" id="vehicle_registered_date" placeholder="Date of Registration">
              </div>
          </div>
          <div class="box-header with-border">
              <h3 class="box-title">Identified Problem</h3>
          </div>
          <div class="form-group">
              <label  class="col-sm-4 control-label">Section</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control"  placeholder="Section">
              </div>
          </div>
          <div class="form-group">
              <label  class="col-sm-4 control-label">Description</label>
              <div class="col-sm-8">
                  <textarea rows="4" class="form-control"  placeholder="Problem Description"></textarea>
              </div>
          </div>
       
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="submit" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-info pull-right">Sign in</button>
        </div>
        <!-- /.box-footer -->
      </form>
    </div>
   
    <!-- /.box -->
  </div>
  <!--/.col (right) -->
</div>