<div class="row">
  <div class="col-xs-12">
    <div id="me" class="alert alert-danger alert-dismissable" style="display:none">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="fa fa-close"></i></button>
      <h4><i class="icon fa fa-ban"></i> Deleted!</h4>
      Deleted Customer Information Successfully. </div>
    <div id="you" class="alert alert-success alert-dismissable" style="display:none">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="fa fa-close"></i></button>
      <h4><i class="icon fa fa-check"></i> Success!</h4>
       </div>
    <div align="right" style="margin-bottom:1%;"> <a class="btn btn-success" data-toggle="tooltip" routerLink="/customer/add"  data-original-title="Add Customer"><i class="fa fa-plus"></i></a> <a class="btn btn-warning" data-toggle="tooltip" routerLink="/dashboard" data-original-title="Dashboard"><i class="fa fa-dashboard"></i></a> </div>
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title"><i class="fa fa-list"></i> Customer List</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table sakotable table-bordered table-striped dt-responsive">
          <thead>
            <tr>
              <!-- <th>Image</th> -->
              <th>Name</th>
              <th>Email</th>
              <th>Mobile Tel</th>
              <th>Home Tel</th>
              <th>Work Tel</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients">
              <!-- <td><img class="photo_img_round" style="width:50px;height:50px;" src="http://sakosys.com/temp/garage-management-system/img/upload/C78DAC15-6C6D-FF9B-14DE-EA3459D78F7E.jpg" /></td> -->
              <td>{{ client.name }}</td>
              <td>{{ client.email }}</td>
              <td>{{ client.telMobile }}</td>
              <td>{{ client.telHome }}</td>
              <td>{{ client.telWork }}</td>
              <td>{{ client.address }}</td>
              <td>
                <a class="btn btn-warning" data-toggle="tooltip" data-original-title="Add your Car"><i class="fa fa-car"></i></a> 
                <a class="btn btn-success" data-toggle="tooltip" (click)="btn_showClientInfoClick(client)" data-original-title="View"><i class="fa fa-eye"></i></a> 
                <a class="btn btn-primary" data-toggle="tooltip" (click)="btn_editClientClick()" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger" data-toggle="tooltip" (click)="btn_deleteClientClick()"  data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<div class="modal modal-success fade" id="modal-view">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Success Modal</h4>
      </div>
       
      <div class="modal-body">
        <div class="col-sm-12">
            <table class="table table-user-information">
              <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{selectedClient?.name}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{selectedClient?.email}}</td>
                </tr>
                <tr>
                    <td>Mobile Tel</td>
                    <td>{{selectedClient?.telMobile}}</td>
                </tr>
                <tr>
                    <td>Home Tel</td>
                    <td>{{selectedClient?.telHome}}</td>
                </tr>
                <tr>
                    <td>Work Tel</td>
                    <td>{{selectedClient?.telWork}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{selectedClient?.address}}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal modal-info fade" id="modal-edit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Info Modal</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><div class="modal modal-info fade" id="modal-edit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Info Modal</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="modal modal-danger fade" id="modal-delete">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Danger Modal</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>