
  <section class="content-header">
    <h1> Supplier List </h1>
    <ol class="breadcrumb">
      <li><a href="http://sakosys.com/temp/garage-management-system/dashboard.php"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Supplier List</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Full Width boxes (Stat box) -->
    <div class="row">
      <div class="col-xs-12">
        <div id="me" class="alert alert-danger alert-dismissable" style="display:none">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="fa fa-close"></i></button>
          <h4><i class="icon fa fa-ban"></i> Deleted!</h4>
          Deleted Supplier Information Successfully. 
        </div>
        <div id="you" class="alert alert-success alert-dismissable" style="display:none">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="fa fa-close"></i></button>
          <h4><i class="icon fa fa-check"></i> Success!</h4>
        </div>
        <div align="right" style="margin-bottom:1%;"> <a class="btn btn-success" data-toggle="tooltip" href="http://sakosys.com/temp/garage-management-system/supplier/addsupplier.php"
            data-original-title="Add Supplier"><i class="fa fa-plus"></i></a> <a class="btn btn-warning" data-toggle="tooltip"
            href="http://sakosys.com/temp/garage-management-system/dashboard.php" data-original-title="Dashboard"><i class="fa fa-dashboard"></i></a>          
        </div>
        <div class="box box-success">
          <div class="box-header">
            <h3 class="box-title">Supplier List</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table class="table sakotable table-bordered table-striped dt-responsive">
              <thead>
                <tr>
                   
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Fax</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let suplier of supliers">
                  
                  <td> {{ suplier.name }} </td>
                  <td> {{ suplier.email}} </td>
                  <td> {{ suplier.phone}} </td>
                  <td> {{ suplier.fax }}</td>
                  <td><a class="btn btn-success" data-toggle="tooltip" href="javascript:;" onClick="$('#nurse_view_7').modal('show');" data-original-title="View"><i class="fa fa-eye"></i></a> <a class="btn btn-primary" data-toggle="tooltip"
                      href="http://sakosys.com/temp/garage-management-system/supplier/addsupplier.php?id=7" data-original-title="Edit"><i class="fa fa-pencil"></i></a>                    <a class="btn btn-danger" data-toggle="tooltip" onClick="deleteSupplier(7);" href="javascript:;" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                    <div id="nurse_view_7" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header orange_header">
                            <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                            <h3 class="modal-title">Supplier Details</h3>
                          </div>
                          <div class="modal-body model_view" align="center">&nbsp;
                            <div><img class="photo_img_round" style="width:100px;height:100px;" src="http://sakosys.com/temp/garage-management-system/img/upload/8CC02F29-FFD8-37E1-0F23-F3A56B19007E.jpg"
                              /></div>
                            <div class="model_title">John Rambo</div>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-xs-6">
                                <h3 style="text-decoration:underline;">Details Infromation</h3>
                                <b>Name :</b> John Rambo<br/>
                                <b>Email :</b> ramboo@yahoo.com<br/>
                                <b>Address :</b> Dhaka - 1216, Mirpur-1<br/>
                                <b>Country :</b> Afghanistan<br/>
                                <b>State :</b> Baglan<br/>
                                <b>Phone Number :</b> 454545454<br/>
                                <b>Fax :</b> 777777777<br/>
                                <b>Post Code :</b> 99999<br/>
                                <b>Website :</b> www.rj.com </div>
                              <div class="col-xs-6">
                                <h3 style="text-decoration:underline;">Manufacturer Infromation</h3>
                                <div class="chkBoxStyle">
                                  <label>Febi</label> &nbsp;&nbsp;
                                  <img style="float:right;" class="img_small" src="http://sakosys.com/temp/garage-management-system/img/upload/55C85742-6A82-BBBC-4711-11D8017BFC40.jpg"
                                  /></div>
                                <div class="chkBoxStyle">
                                  <label>Contitech</label> &nbsp;&nbsp;
                                  <img style="float:right;" class="img_small" src="http://sakosys.com/temp/garage-management-system/img/upload/04818998-52B6-CC45-9F34-68BB1A181D5F.jpg"
                                  /></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <div class="modal modal-danger fade" id="modal-danger" style="display:block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Danger Modal</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

