<section class="content">
    <!-- Full Width boxes (Stat box) -->
    
    <!-- Sold Items List -->
  
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-success">
          <div class="box-header">
            <h3 class="box-title">Sold Items List</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table class="table sakotable table-bordered table-striped dt-responsive">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Buyer Name</th>
                  <th>Buyer Phone</th>
                  <th>Buyer TIN</th>
                  <th>Items Sold</th>
                  <th>Total Quantity</th>
                  <th>Grand Total</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sell of sold">
                  <td><span class="label label-default">{{sell.purchaseDate | date}}</span></td>
                  <td>{{sell.buyerName}}</td>
                  <td>{{sell.buyerPhoneNumber}}</td>
                  <td>{{sell.buyerTinNumber}}</td>
                  <td>{{ sell.parts.length}}</td>
                  <td>{{sell.quantity}}</td>
                  <td>{{sell.grandTotal | number : '1.2-2'}} ETB</td>
                <td>
                  <a class="btn btn-info" data-toggle="tooltip"  data-original-title="Purchase or Load Parts Quantity"><i class="fa fa-cart-plus"></i></a> <a class="btn btn-warning" data-toggle="tooltip" (click)="btn_showSoldInfoClick(sell)"  data-original-title="View"><i class="fa fa-eye"></i></a>  <a class="btn btn-primary" data-toggle="tooltip" (click)="btn_editSellClick(sell)"  data-original-title="Edit"><i class="fa fa-pencil"></i></a> <a class="btn btn-danger" data-toggle="tooltip"  data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                </td>
                
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  
    
  
  </section>
  
  <div class="modal modal-success fade" id="modal-view">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Parts in Stock Detail</h4>
          </div>
           
          <div class="modal-body">
            <div class="col-sm-12">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                        <td>Buyer Name</td>
                        <td>{{selected?.buyerName}}</td>
                        <td>Phone Number</td>
                        <td>{{selected?.buyerPhoneNumber}}</td>
                        <td>TIN Number</td>
                        <td>{{selected?.buyerTinNumber}}</td>
                    </tr>
                    <tr *ngFor= "let part of parts">
                        <td>Part Number</td>
                        <td>{{part?.partNumber}}</td>
                        <td>Stamp</td>
                        <td>{{part?.stamp}}</td>
                        <td>Quantity</td>
                        <td>{{part?.quantity}}</td>
                    </tr>
                    <tr>
                        <td>Total Quantity</td>
                        <td>{{selected?.quantity}}</td>
                        <td>Grand Total</td>
                        <td>{{selected?.grandTotal | number : '1.0-0'}}</td>
                    </tr>
                  </tbody>
                </table>  
               
            </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
      
    </div>
  
    <!-- Edit Modal -->
   <div class="modal modal-info fade" id="modal-edit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit table-user-information</h4>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="saveUpdates()" novalidate>
          <input type="hidden" formControlName="id"/>
          <!-- <input type="hidden" formControlName="sellId"/> -->
          <div class="modal-body">
            <div class="col-sm-12">
              <table>
                  <tbody>

                    <tr>
                        <td>Buyer Name</td>
                        <td>
                          <input class="form-control" formControlName="buyerName" type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>
                          <input class="form-control" formControlName="buyerPhoneNumber" type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>TIN Number</td>
                        <td>
                          <input class="form-control" formControlName="buyerTinNumber"  type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Person In Charge</td>
                        <td>
                          <input class="form-control" formControlName="personInCharge"  type="text"/>
                        </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-outline">Save changes</button>
          </div>
      </form> 
  </div>
  </div>
  </div>
  
  <!-- Delete Modal -->
  <!-- <div class="modal modal-danger fade" id="modal-delete">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Delete Part</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete this record?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
            <button (click)="deletePart()" type="button" class="btn btn-outline">Delete</button>
          </div>
        </div>
      
      </div>
      
    </div> -->
  
    <!-- Add to Cart Modal -->
  <!-- <div class="modal modal-info fade" id="modal-addToCart">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add Part to Cart</h4>
        </div>
        <div class="modal-body">
          <p>Part Number: {{selectedPart?.partNumber}}</p>
          <p>Stamp : {{selectedPart?.stamp}}</p>
          <label *ngIf="!available" style="color:red;">Not enough quantity available in stock.</label>
          <input placeholder="Quantity" [(ngModel)]="addQuantity" name="addQuantity" type="number" class="form-control rounded-0" min="1" max="100" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
          <button (click)="addTo_cart()" type="button" class="btn btn-outline">Add To Cart</button>
        </div>
      </div>
    
    </div>
    
  </div> -->
  