<section class="content">
        <!-- Full Width boxes (Stat box) -->
        <div class="row">
          <div class="col-xs-12">
            <div id="me" class="alert alert-danger alert-dismissable" style="display:none">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="fa fa-close"></i></button>
              <h4><i class="icon fa fa-ban"></i> Deleted!</h4>
               </div>
            <div id="you" class="alert alert-success alert-dismissable" style="display:none">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="fa fa-close"></i></button>
              <h4><i class="icon fa fa-check"></i> Success!</h4>
               </div>
            <div align="right" style="margin-bottom:1%;"> <a class="btn btn-success" data-toggle="tooltip" routerLink="/repair/add" data-original-title="Add Repair Car"><i class="fa fa-plus"></i></a> <a class="btn btn-warning" data-toggle="tooltip" routerLink="/dashboard" data-original-title="Dashboard"><i class="fa fa-dashboard"></i></a> </div>
            <div class="box box-success">
              <div class="box-header">
                <h3 class="box-title"><i class="fa fa-list"></i> Repair Car List</h3>
              </div>



              <!-- /.box-header -->
              <div class="box-body">
                <table class="table sakotable table-bordered table-striped dt-responsive">
                  <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Plate Number</th>
                        <th>Problem</th>
                        <th>Person In Charge</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let repair of repairs">
                            <td data-title="customer">{{ repair.customer }}</td>
                            <td data-title="plateNumber">{{ repair.plateNumber }}</td>
                            <td data-title="reportedProblem">{{ repair.reportedProblem }} </td>
                            <td data-title="personInCharge" >{{ repair.personInCharge }}</td>
                            <td data-title="personInCharge" >{{ repair.date }}</td>
                            <td>
                              <button class="btn btn-success" (click)="btn_showRepairInfoClick(repair)" data-toggle="tooltip"  data-original-title="View"><i class="fa fa-eye"></i></button>  
                              <button class="btn btn-primary" (click)="btn_editRepairClick(repair)" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i></button> 
                              <button class="btn btn-danger" (click)="btn_deleteRepairClick(repair)" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                            </td>
                    </tr>
                    </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        
</section>
      
<div class="modal modal-success fade" id="modal-view">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Repair Detail</h4>
      </div>
       
      <div class="modal-body">
        <div class="col-sm-12">
            <table class="table table-user-information">
              <tbody>
                <tr>
                    <td>Customer Name</td>
                    <td>{{selectedRepair?.customer}}</td>
                </tr>
                <tr>
                    <td>Plate Number</td>
                    <td>{{selectedRepair?.plateNumber}}</td>
                </tr>
                <tr>
                    <td>Reported Problem</td>
                    <td>{{selectedRepair?.reportedProblem}}</td>
                </tr>
                <tr>
                    <td>Car Type</td>
                    <td>{{selectedRepair?.carType}}</td>
                </tr>
                <tr>
                    <td>Remark</td>
                    <td>{{selectedRepair?.remark}}</td>
                </tr>
                <tr>
                    <td>Person In Charge</td>
                    <td>{{selectedRepair?.personInCharge}}</td>
                </tr>
                <tr>
                  <td>Date</td>
                  <td>{{selectedRepair?.date}}</td>
                </tr>

              </tbody>
            </table>  
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal modal-info fade" id="modal-edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Info Modal</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="saveUpdates()" novalidate>
        <input type="hidden" formControlName="id"/>
        <div class="modal-body">
          <div class="col-sm-12">
            <table>
                <tbody>
                
                  <tr>
                      <td>Customer</td>
                      <td>
                        <input class="form-control" formControlName="customer" type="text" required/>
                      </td>
                  </tr>
                  <tr>
                      <td>Plate Number</td>
                      <td>
                        <input class="form-control" formControlName="plateNumber" type="text" required/>
                      </td>
                  </tr>
                  <tr>
                      <td>Reported Problem</td>
                      <td>
                        <input class="form-control" formControlName="reportedProblem"  type="text"/>
                      </td>
                  </tr>
                  <tr>
                      <td>Car Type</td>
                      <td>
                        <input class="form-control" formControlName="carType"  type="text"/>
                      </td>
                  </tr>
                  <tr>
                      <td>Remark</td>
                      <td>
                        <input class="form-control" formControlName="remark"  type="text"/>
                      </td>
                  </tr>
                  <tr>
                      <td>Person In Charge</td>
                      <td>
                        <input class="form-control" formControlName="personInCharge"  type="text"/>
                      </td>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td>
                      <input class="form-control" formControlName="date"  type="text"/>
                    </td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline">Save changes</button>
        </div>
      </form> 
    </div>

    
    <!-- /.modal-content -->
  </div>
  </div>
  <div class="modal modal-danger fade" id="modal-delete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Delete Repair?</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure to delete this record?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
          <button (click)="deleteRepair()" type="button" class="btn btn-outline">Delete</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
