<form [formGroup]="partsForm" (ngSubmit)="onSubmit()" novalidate >
<section class="content">
  <!-- Full Width boxes (Stat box) -->
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success" id="box_model">
        <div class="box-body">
          <div class="form-group col-md-12" style="padding-top:10px;">
            <div class="pull-left">
              <label class="label label-danger" style="font-size:15px;">INVOICE ID - {{invoice_id}}</label>
              <input type="hidden" [ngModel]="invoice_id" formControlName="invoiceId" class="form-control"/>
            </div>
            <div class="pull-right">
              <button type="submit"  class="btn btn-success"><i class="fa fa-save"></i><br/></button>
              <a class="btn btn-warning" data-toggle="tooltip" routerLink="/parts/purchase" data-original-title="Back"><i class="fa fa-reply"></i><br/></a> 
            </div>
          </div>
          <div class="clearfix" style="color:red;font-weight:bold;text-align:center;">** After submit information will save automatically and go to INVOICE page directly.</div>
        </div>
      </div>
      <!-- <div class="box box-success" id="box_model">
        <div class="box-header">
          <h3 class="box-title"><i class="fa fa-cart-plus"></i> Purchase for Exisiting Parts ?</h3>
        </div>
        <div class="box-body">
          <div class="form-group col-md-12" style="padding-top:10px;">
            <label for="ddl_e_parts"> Select Parts :</label>
			<select onchange="loadExistingParts(this.value);" class="form-control js-example-basic-single" name="ddl_e_parts" id="ddl_e_parts">
              <option value="">--Select Parts--</option>
                            <option  value="7">Audi Engine 2014</option>
                            <option  value="6">BMW Oil Filter</option>
                            <option  value="10">Engine Oil Filter</option>
                            <option  value="9">Toyota 20" Rim Fits Dodge</option>
                            <option  value="5">Toyota Ac Compresser</option>
                            <option  value="8">Toyota Brake Rotors Disc</option>
                            <option  value="4">Toyota Front Headlight</option>
                          </select>
          </div>
		          </div>
      </div> -->
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">Purchase Parts Form</h3>
        </div>
        <div class="box-body">
          <div class="form-group col-md-4">
            <label for="part_number"><span style="color:red;">*</span> Part Number :</label>
            <input type="text" formControlName="partNumber" value="" id="part_number" class="form-control" required/>
          </div>
          <div class="form-group col-md-4">
            <label for="stamp"><span style="color:red;">*</span> Stamp :</label>
            <input type="text" formControlName="stamp" value="" id="stamp" class="form-control" required/>
          </div>
          <div class="form-group col-md-4">
              <label for="parts_quantity"><span style="color:red;">*</span> Quantity :</label>
              <input type="text" formControlName="quantity" value="" id="quantity" class="form-control ppcal allownumberonly" required/>
          </div>
          <div class="form-group col-md-12">
            <label for="description"><span style="color:red;">*</span> Description :</label>
            <textarea  formControlName="description" id="description" class="form-control" rows="5" required></textarea>
          </div>
          <div class="form-group col-md-4">
              <label for="buy_prie"><span style="color:red;">*</span> Buy Price(Per pcs) :</label>
              <div class="input-group"> <span class="input-group-addon">$</span>
                <input type="text" placeholder="Buying Price" value="" formControlName="buyPrice" id="buyPrice" class="form-control allownumberonly ppcal" required/>
              </div>
          </div>
          <div class="form-group col-md-4">
            <label for="parts_sell_price"><span style="color:red;">*</span> Sell Price (Per pcs) :</label>
            <div class="input-group"> <span class="input-group-addon">$</span>
              <input type="text" placeholder="Selling Price" value="0.00" formControlName="sellPrice" id="sellPrice" class="form-control allownumberonly" required/>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="remark"><span style="color:red;">*</span> Remark :</label>
            <input type="text" formControlName="remark" value="" id="remark" class="form-control" required/>
          </div>
          <div class="form-group col-md-4">
            <label for="make"><span style="color:red;">*</span> Make :</label>
            <input type="text" formControlName="make" value="" id="make" class="form-control" required/>
          </div>
          <div class="form-group col-md-4">
            <label for="shelfNumber"><span style="color:red;">*</span> Shelf Number :</label>
            <input type="text" formControlName="shelfNumber" value="" id="shelfNumber" class="form-control" required/>
          </div>
          <div class="form-group col-md-4">
            <label for="parts_add_date">Purchase Date :</label>
            <input type="date" formControlName="purchaseDate" [ngModel]="date" id="purchaseDate" class="form-control" />
          </div>
          <!-- <div class="form-group col-md-4">
            <label for="parts_warranty">Parts Warranty :</label>
            <input type="text" name="parts_warranty" placeholder="5 Years or 6 Months" value="" id="parts_warranty" class="form-control" />
          </div>
          <div class="form-group col-md-4">
            <label for="total_amount"><span style="color:red;">*</span> Total Amount :</label>
            <div class="input-group"> <span class="input-group-addon">$</span>
              <input type="text" readonly="" style="color:red;font-weight:bold;" placeholder="Total Price" value="0.00" name="total_amount" id="total_amount" class="form-control allownumberonly" required/>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="total_amount"><span style="color:red;">*</span> Given Amount :</label>
            <div class="input-group"> <span class="input-group-addon">$</span>
              <input type="text" placeholder="Given Amount" value="0.00" name="given_amount" id="given_amount" class="form-control allownumberonly ppcal" required/>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="total_amount"><span style="color:red;">*</span> Pending Amount :</label>
            <div class="input-group"> <span class="input-group-addon">$</span>
              <input type="text" readonly="" style="color:red;font-weight:bold;" placeholder="Pending Amount" value="0.00" name="pending_amount" id="pending_amount" class="form-control allownumberonly" required/>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label for="Prsnttxtarea">Parts Image (500x500px) :</label>
            <img class="form-control" src="http://sakosys.com/temp/garage-management-system/img/no_image.jpg" style="height:250px;width:250px;" id="output"/>
            <input type="hidden" name="img_exist" value="" />
          </div>
          <div class="form-group col-md-12"> <span class="btn btn-file btn btn-primary">Upload Image
            <input type="file" name="uploaded_file" onchange="loadFile(event)" />
            </span> </div> -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <!-- <div class="box box-success" id="box_model">
        <div class="box-header">
          <h3 class="box-title"><i class="fa fa-list"></i> Parts Fits With...</h3>
        </div>
        <div class="box-body">
          <div class="form-group col-md-12" style="padding-top:10px;">
            <table id="partsdata" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="left"><u><b>Make</b></u></td>
                  <td class="left"><u><b>Model</b></u></td>
                  <td class="left"><u><b>Year</b></u></td>
                  <td></td>
                </tr>
              </thead>
                            <tfoot>
                <tr>
                  <td colspan="4"></td>
                  <td class="left"><button class="btn btn-primary" title="" data-toggle="tooltip" onclick="addPartsData();" type="button" data-original-title="Add Car Parts Information"><i class="fa fa-plus-circle"></i></button></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  </section>
</form>
