<!-- <p>
  add-to-cart works!
</p> -->

<div *ngIf="cart.length <= 0">
  <h3 class="text-center">No items in the Cart!</h3>
</div>
<table class="table table-striped table-hover ">
  <thead>
      <tr>
      <th>Part Number</th>
      <th>Stamp</th>
      <th>Quantity</th>
      <th>Price</th>
      </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of cart; let i = index">
      <td><h4>{{product.partNumber}}</h4></td>
      <td><h4>{{product.stamp}}</h4></td>
      <td><h4>{{product.quantity}}</h4></td>
      <td><h4>ETB {{product.price}}</h4></td>
      <td><button (click)="removeProduct(product)" class="btn btn-xs btn-danger">Remove Product</button></td>
    </tr>

    <tr class="warning">
      <td><h4></h4></td>
      <td><h4>Total Items: {{totalQuantity}}</h4></td>
      <td><h4>Total: ETB {{totalPrice}}</h4></td>
      <td><button (click)="checkout()" class="btn btn-md btn-success">Checkout</button></td>
    </tr>
  </tbody>
</table>