<!--The content below is only a placeholder and can be replaced.-->
<div class="flex-center position-ref full-height">
    <div class="content">
      <div class="title m-b-md">
        {{ title }} <small>Garage.</small>
        
      </div>
      <div class="downlinks">
        <a routerLink="/home" routerLinkActive="active" class="btn btn-danger btn-sm">Garage Management</a>
        <a routerLink="#" routerLinkActive="active" class="btn btn-success btn-sm">Stock Inventory Management</a>
        <a routerLink="#" routerLinkActive="active" class="btn btn-primary btn-sm">Import Stock Management</a>
        <a routerLink="#" routerLinkActive="active" class="btn btn-primary btn-sm">ABOUT</a>
      </div>
    </div>
  </div>
  